{% extends "base.html" %}

{% block body_block %}


<div class="jumbotron">
    <div class="container">
        <h1>Manage</h1>
    </div>
</div>
{{ form.non_field_errors }}
<div class="container">
    {% if form.errors %}

        {% for field in form %}
                <p class="bg-danger">
                    {{ field.errors|striptags|safe }}
                </p>
        {% endfor %}
                    
    {% endif %}
    <form method="POST" role="form" enctype="multipart/form-data"
    onsubmit="return confirm('This will remove all categories from the database and replace them with contents of the file?');">

        {% csrf_token %}
        <legend>Upload new category list</legend>

        <div class="form-group">
            {% if form.errors %}
                {% if form.file.help_text %}
                    <p class="bg-primary">
                    {{ form.file.help_text|striptags|safe }}
                    </p>
                {% endif %}  
            {% endif %}
            <label for="">Upload file</label>
            <input type="file" name="file" class="form-control" required id="id_file">
        </div>


        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>

</div>

{% endblock body_block %}
